.grid_container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: 
        "header header" 
        "content sidebar" 
        "footer footer";
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    gap: 20px;
}

header {
    grid-area: header;
    background-color: #ffc7ec; 
    text-align: center;
    padding: 20px; 
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    grid-area: content;
    background-color: #af4c4c; 
    color: white;
    text-align: center; 
    padding: 20px;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar {
    grid-area: sidebar;
    background-color: #4caf74; 
    color: black;
    text-align: center;
    padding: 20px;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


footer {
    grid-area: footer;
    background-color: #4168f4; 
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width:768px) {
    .grid_container {
        display: flex;
        flex-direction: column;
    }  
}